GOOGLE_ID={GOOGLE_ID_HERE}
GOOGLE_SECRET={GOOGLE_SECRET_HERE}

AUTH_SECRET={YOUR_AUTH_SECRET_HERE}
PUBLIC_MAPTILER_STYLES="https://api.maptiler.com/maps/streets-v2/style.json?key=R7SWIU6LxTG0LcVb5eyr"
