VITE_GOOGLE_ID={VITE_GOOGLE_ID_HERE}
VITE_GOOGLE_SECRET={VITE_GOOGLE_SECRET_HERE}

VITE_AUTH_SECRET={YOUR_VITE_AUTH_SECRET_HERE}

VITE_MONGO_URL="mongodb://0.0.0.0:27017/optimates"

PUBLIC_MAPTILER_STYLES="https://api.maptiler.com/maps/streets-v2/style.json?key=R7SWIU6LxTG0LcVb5eyr"
